<!DOCTYPE html>
<html xmlns:c="http://java.sun.com/xml/ns/javaee" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ALL Users</title>
</head>
<body>
<h1>ALL Users</h1>


<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Operations</th>
    </tr>


    <tr th:each="user : ${index}">

        <c:url var="updateButton" value="updateInfo">
            <c:param name="userId" value="${user.id}"/>
        </c:url>

        <c:url var="deleteButton" value="deleteUser">
            <c:param name="userId" value="${user.id}"/>
        </c:url>

        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.salary}"></td>
        <td>
            <input type="hidden" id="id" name="id" th:value="${user.id}">
            <input type="button" value="Update"
                   th:onclick="|window.location.href='/updateInfo?id=${user.id}'|"/>


            <input type="hidden" id="deleteId" name="deleteId" th:value="${user.id}">
            <input type="button" value="Delete"
                   th:onclick="|window.location.href='/deleteUser?deleteId=${user.id}'|"/>
        </td>
    </tr>


</table>

<br>

<input type="button" value="add"
       onclick="window.location.href = 'addNewUser'"/>


</body>


</html>







